@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  background-color: #1e1e1e;
  color : white;
  
}



.hero_margin{
  @apply mx-32 ;
}

.my_grid{
  @apply grid grid-cols-4 gap-5; 
}

.hero_content{
  grid-column: 1/ span 3;
  grid-row: 1/ span 3;
  background-color: aqua;
}

.base_content{
  grid-column: 2/ span 3;
  grid-row: 5/ span 3;
  background-color: aqua;
}

.grid_children{
 @apply flex justify-center align-middle
}

.card:hover{
 box-shadow: 0px 0px 30px 1px #7129ff;
  border-color: #7129ff;
}
